* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

body {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 1642px;
  background: #E6E8EC66;
}

h1 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 56px;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 48px;
}

.container {

  margin: 15px;
  flex-wrap: wrap
}

.card {
  width: 371px;
  height: 400px;
}

h3 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
}

p {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 14px;
}

.title {
  padding-top: 25px;
  padding-bottom: 24px;
  font-family: Anonymous Pro;
  font-weight: 700;
  font-size: 48px;
}



header {

  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 6000px;
  margin: 0 auto;
  height: 110px;
  padding: 30px 140px 54px 140px;
  background-color: white;
  align-items: center;


}

.header_logo {
  width: 212.34px;
  height: 63.24px;
}

.header_container {
  padding-top: 30px;
  width: 1161px;
  height: 110px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

}

.header_link {
  list-style: none;
  text-decoration: none;
  gap: 24px;
  justify-content: space-between;
  display: flex;

}

.header_symbols {
  text-decoration: none;
  color: #000;
}





footer {

  background-color: #121723;
  height: 142px; 
  padding: 30px 140px 54px 140px;
  width: 100%;
  
  bottom: 0;

}


.footer_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1161px;
  border-bottom: 1px solid #E6E8EC66;
  padding-bottom: 32px;
}

.footer_logo {
  height: 22px;

}

.footer_link {

  display: flex;
  justify-content: space-between;
  gap: 24px;
  list-style: none;
}

.footer_Symbols {
  text-decoration: none;
  color: #ffffff;
}

.footer_word {
  top: 25px;
  position: relative;
  color: #A1A6B4;
  text-align: center;
  font-family: Anonymous Pro;
  font-size: 16px;
  font-weight: 700;
}

.cards {

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  justify-content: center;
  width: 1161px;
  

}

.base_container {
  width: 1161px;
}


.card_bottom {
  background-color: #ffffff;
  padding: 32px 24px 32px 24px;
  width: 371px;


}

.container_title {
  font-family: Anonymous Pro;
  font-size: 26px;
  font-weight: 700;
}

.container_text {
  font-family: Anonymous Pro;
  font-size: 20px;
  font-weight: 400;
}